/*
Styles in this file relate to viewports wider than 800 pixels.
*/

html {
	background-color: #f9fff9;
}

#mainHeader {
	text-align: left;
}

#mainHeader h1 {
	font-size: 1.5em;
	display: inline-block;
	padding-left: 10px;
}	

#mainHeader a {
	display: inline;
	border: none;
	padding: 10px 5px 10px 5px;
}

#mainHeader a:last-child{
	border-bottom: none;
}

#mainHeader a:hover {
	text-decoration: underline;
	color: #339933;
	background-color: white;
	padding: 10px 5px 10px 5px;
}

#menuBar {
	float: right;
	padding: 10px 10px 10px 0;
}

footer {
	text-align: left;
	padding: 5px 0 0 0;
	position: relative;
	overflow: hidden;
}

#footerText {
	padding-left: 10px;
	position: absolute;
	bottom: 15px;
	font-size: 1.2em;
}

#membershipBoxes {
	display: flex;
	flex-flow: row wrap;
}

.membershipSection {
	flex: 1;
}

fieldset {
	margin: 0 auto 10px auto;
	max-width: 500px;
	box-sizing: border-box;
	text-align: left;
}

#walkDetails {
	flex-flow: row wrap;
}

.walkSection {
	flex: 1;
}

.fullImage img {
	border: 10px solid white;
}

.switchLink {
	margin: 20px;
	width: 120px;
	height: 90px;
}

.switchLink img {
	width: 120px;
	height: 90px;
}

.switchLink:hover {
	box-shadow: 0px 0px 5px 10px #669966;
}

.walkMonth {
	font-size: 2.5em;
	text-shadow: 2px 2px black;
}

#social {
	float: right;
	margin-right: 10px;
}

/*
Media query to make content switcher menus larger on viewports wider than 1000 pixels.
*/
@media screen and (min-width: 1001px) {
	.switchLink {
		margin: 20px;
		width: 160px;
		height: 120px;
	}

	.switchLink img {
		width: 160px;
		height: 120px;
	}
	.walkMonth {
		font-size: 3em;
		text-shadow: 2px 2px black;
	}
}

/*
Media query for widescreen monitors. The maximum width of the body is set as 1200 pixels.
Any display wider than this will have left and right borders added, with a box-shadow effect.
*/
@media screen and (min-width: 1201px) {
	body {
		border-left: 2px solid #339933;
		border-right: 2px solid #339933;
		box-shadow: 0px 2px 5px 2px #669966;
	}
}