html {
	background-color: #cccccc;
}

body {
	background-color: #eeffcc;
	font-family: Calibri, sans-serif;
	margin: 0 auto 0 auto;
	padding: 0;
	max-width: 1200px;
}

/*
Media query for widescreen monitors. The maximum width of the body is set as 1200 pixels.
Any display wider than this will have left and right borders added, with a box-shadow effect.
*/
@media screen and (min-width: 1201px) {
	body {
		border-left: 2px solid #339933;
		border-right: 2px solid #339933;
		box-shadow: 0px 2px 5px 2px #669966;
	}
}

p {
	text-align: justify;
}

h1 {
	font-size: 1.5em;
	padding: 5px;
	font-weight: normal;
	margin: 0;
}

h2 {
	font-size: 1.2em;
	padding: 5px;
	text-align: center;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h3 {
	font-weight: bold;
	text-align: left;
}

#mainHeader {
	background-color: #339933;
	width: 100%;
	text-align: center;
	color: white;
	box-shadow: 0px 2px 5px 2px #669966;
	position: relative;
	z-index: 2;
}

#mainHeader a {
	border-top: 1px solid white;
	padding: 5px 0 5px 0;
	display: block;
	width: 100%;
	text-decoration: none;
	color: white;
}

#mainHeader a:hover {
	text-decoration: underline;
	color: #339933;
	background-color: white;
}

footer {
	background-color: #339933;
	width: 100%;
	color: white;
	text-align: center;
	box-shadow: 0px -2px 5px 2px #669966;
	padding: 5px 0 5px 0;
}

#homeIntro {
	background-color: white;
	border-bottom: 2px solid #339933;
	box-shadow: 0px 2px 5px 0px #669966;
	margin-bottom: 20px;
	padding: 20px;
}

#homeIntro h2 {
	font-size: 1.5em;
	margin: 0;
	padding: 0;
}

#homeContent {
	display: flex;
	flex-flow: row wrap;
}

.infoBox {
	flex: 1;
	margin: 20px;
	margin-top: 0px;
	background-color: white;
	border: 2px solid #339933;
	border-radius: 15px 15px 0 0;
	box-shadow: 0px 0px 5px 2px #339933;
	min-width: 250px;
	display: flex;
	flex-flow: column;
	position: relative;
}

.infoBox p {
	margin: 10px 20px 0 20px;
	flex-grow: 1;
}

.infoBox a {
	color: #0000ff;
	text-decoration: none;
}

.infoBox a:hover {
	color: #6666ff;
	text-decoration: underline;
}

.infoLink {
	padding: 0;
	margin: 10px 0 10px 0;
	text-align: center;
}

.infoBox h2 {
	color: white;
	background-color: #339933;
	border-radius: 10px 10px 0 0;
	border-bottom: 2px solid #339933;
	box-shadow: 0px 2px 5px 2px #669966;
	margin-bottom: 10px;
	margin: 0;
	padding: 0;
}

.infoBox h3 {
	padding: 2px;
	text-align: center;
	margin: 20px 0 0 0;
}

.textLink a {
	color: #0000ff;
	text-decoration: none;
}

.textLink a:hover {
	color: #6666ff;
	text-decoration: underline;
}

#homeMap {
	width: 100%;
	height: 190px;
}

#mapHolder {
	width: 100%;
}

.futureMap {
	width: 100%;
	height: 500px;
	border: 2px solid #339933;
	box-sizing: border-box;
}

#infoPic {
	margin-bottom: 10px;
	border: 2px solid #339933;
	display: block;
	width: 240px;
	height: 180px;
	margin-left: auto;
	margin-right: auto;
}

.quickForm p {
	margin-top: 20px;
}

.quickForm {
	position: relative;
}

#quickForm {
	margin: 10px 20px 10px 20px;
	box-sizing: border-box;
}

.formElement {
	margin-top: 5px;
}

.quickFormInput {
	margin: 0 auto 0 auto;
	width: 100%;
	box-sizing: border-box;
}

.hiddenContent {
	display: none;
}

.blockContent {
	display: block;
}

#formWrapper {
	position: relative;
	margin: 0 auto 10px auto;
}

#formWrapper p {
	margin: 10px 20px 0 20px;
	position: relative;
}

#formValidation {
	color: white;
	background-color: #336633;
	box-shadow: 0px 0px 5px 2px #339933;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

#formValidation p {
	text-align: center;
}

.quickForm {
	border-top: 2px solid #339933;
}

fieldset {
	margin: 0 auto 10px auto;
	max-width: 500px;
	box-sizing: border-box;
	text-align: left;
	border: ridge #339933;
}

#validationButton {
	display: block;
	text-align: center;
	margin: 10px auto 10px auto;
	overflow: visible;
}

.membershipFormInput {
	margin: 0 auto 0 auto;
	width: 100%;
	box-sizing: border-box;
}

.sliderImage {
	width: 100%;
}

.fadeIn {
	animation-name: imageFader;
	animation-duration: 2s;
}

@keyframes imageFader {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}

#pageContent {
	background-color: white;
	padding: 20px;
	text-align: center;
}

#pageContent h2 {
	font-size: 1.5em;
}

.adviceSection {
	overflow: hidden;
	margin-bottom: 10px;
}

.adviceSection p {
	margin-top: 0;
}

.adviceSection h3 {
	margin: 0;
	padding: 0;
}

.adviceImage {
	width: 160px;
	height: 120px;
	float: left;
	margin: 0 20px 0 0;
	clear: both;
	border: 2px solid #339933;
	box-shadow: 5px 0 5px 0 #669966;
}

.submitButton {
	width: 100%;
	max-width: 500px;
}

#walkMenu {
	margin: 10px;
}

#walkDetails {
	display: flex;
	flex-flow: column wrap;
}

.walkSection {
	flex: auto;
	min-width: 250px;
	margin: 20px 10px 0 10px;
}

.walkSection h3 {
	margin-top: 0px;
	text-align: center;
}

.walkSection ul {
	padding: 0;
}

.walkSwitcher {
	display: none;
}

.activeMonth {
	display: block;
}

.switchLink {
	margin: 10px;
	border: 1px solid #339933;
	box-shadow: 0px 0px 5px 5px #669966;
	display: inline-block;
	width: 80px;
	height: 60px;
	line-height: 80px;
	border-radius: 50%;
	background-color: #339933;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.switchLink img {
	width: 80px;
	height: 60px;
	border-radius: 50%;
}

.switchLink:hover {
	box-shadow: 0px 0px 5px 7px #669966;
	transition: 0.5s;
}

.switchLink img:hover {
	opacity: 0.25;
}

.walkMonth {
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-radius: 50%;
	line-height: 100%;
	padding-top: 20%;
	text-shadow: 1px 1px black;
}

.walkMonth:hover {
    background: radial-gradient(
    	rgba(255,255,255,0.7) 35%,
    	rgba(204,204,204,0.6) 70%,
    	rgba(153,153,153,0.5)
     );
	color: #336633;
	transition: 0.5s;
}

.walkGallery {
	display: inline-block;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	border: 2px solid #339933;
	box-shadow: 0px 0px 5px 2px #669966;
	margin: 10px;
	background-color: rgba(0,0,0);
}

.walkGallery img {
	width: 200px;
	height: 150px;
	cursor: pointer;
	display: block;
}

.walkGallery:hover img {
	opacity: 0.85;
	box-shadow: 0px 0px 5px 5px #669966;
}

.lightsDown {
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: rgba(0,0,0,0.9);
	position: fixed;
	top: 0;
	left: 0;
}

.fullImage {
	max-width: 75%;
	max-height: 90%;
}

.fullImage img {
	max-width: 75%;
	max-height: 90%;
	border: 5px solid white;
	box-shadow: 0px 0px 5px 5px #999999;
	/* Positioning courtesy of
	https://stackoverflow.com/questions/12665368/
	center-image-in-html-viewport-without-javascript */
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

#imageCounter {
	position: absolute;
	left: 20px;
	top: 20px;
	font-weight: bold;
	font-size: 2em;
	color: #999999;
}

#boxCloser {
	position: absolute;
	right: 20px;
	font-weight: bold;
	font-size: 3.5em;
	color: #999999;
	cursor: pointer;
}

#boxCloser:hover, #previousImage:hover, #nextImage:hover {
	color: white;
}

#previousImage {
	position: absolute;
	left: 20px;
	bottom: 10px;
	font-weight: bold;
	font-size: 2.5em;
	color: #999999;
	cursor: pointer;
	text-align: right;
}

#nextImage {
	position: absolute;
	right: 20px;
	bottom: 10px;
	font-weight: bold;
	font-size: 2.5em;
	color: #999999;
	cursor: pointer;
}

.controlText {
	text-align: center;
	font-size: 0.4em;
	margin: 0;
	padding: 0;
}

.social {
	display: inline-block;
	margin: 0px 10px 0px 10px;
}

.facebook {
	height: 40px;
	width: 40px;
	background-image: url(../img/social/grey/Facebook.png);
	background-size: contain;
}

.facebook:hover {
	background-image: url(../img/social/colour/Facebook.png);
}

.twitter {
	height: 40px;
	width: 40px;
	background-image: url(../img/social/grey/Twitter.png);
	background-size: contain;
}

.twitter:hover {
	background-image: url(../img/social/colour/Twitter.png);
}

.instagram {
	height: 40px;
	width: 40px;
	background-image: url(../img/social/grey/Instagram.png);
	background-size: contain;
}

.instagram:hover {
	background-image: url(../img/social/colour/Instagram.png);
}

.youtube {
	height: 40px;
	width: 40px;
	background-image: url(../img/social/grey/YouTube.png);
	background-size: contain;
}

.youtube:hover {
	background-image: url(../img/social/colour/YouTube.png);
}