#mainHeader {
	text-align: left;
	padding: 5px 0 5px 0;
}

#mainHeader h1 {
	padding-left: 10px;
	font-size: 1.5em;
	display: inline;
}	

#mainHeader a {
	display: inline;
	border: none;
	padding-right: 10px;
}

#mainHeader a:last-child{
	border-bottom: none;
}

#mainHeader a:hover {
	text-decoration: underline;
	color: white;
	background-color: #339933;
}

#menuBar {
	float: right;
	padding: 5px;
}

footer {
	text-align: left;
	padding: 5px 0 5px 0;
}

#footerText {
	padding-left: 10px;
}

#membershipBoxes {
	display: flex;
	flex-flow: row wrap;
}

.membershipSection {
	flex: 1;
}

fieldset {
	margin: 0 auto 10px auto;
	max-width: 500px;
	box-sizing: border-box;
	text-align: left;
}

#walkDetails {
	flex-flow: row wrap;
}

.fullImage img {
	border: 10px solid white;
}

.switchLink {
	margin: 20px;
	width: 160px;
	height: 120px;
}

.switchLink img {
	width: 160px;
	height: 120px;
}

.walkMonth {
	font-size: 3em;
}